//Colors
$wine:#6B2737;
$onyx:#3A3042;
$salmon:#f26a6d;
$deepred:#550C18;
$orange:#f48f72;
$beige:#E0C1B3;
$charcoal:#403F4C;
$red:#da3849;
$teal:#264653;
$purple:#713E5A;
$grey:#7A7D7D;
$scarlet:#6A041D;

.port-container {
    display: flex;
    flex-wrap: wrap;
    min-height:100vh;
    background-color: $beige;
    justify-content: center;
    background-image: url(https://i.imgur.com/wmCuoaE.png);
    background-size: 20%;
    background-origin: content-box;

    .portfolio-item {
        flex: 1 1 300px;
        min-height: 300px;
        max-width: 450px;
        cursor: pointer;
        background: center/60% no-repeat;

        .app-content {
            display: flex;
            flex-direction: column;
            height:100%;
            justify-content: center;
            opacity: 0;
            color:white;

            .app-name {
                font-size: 40px;
                margin:0;
                text-transform: lowercase;
            }

            hr {
                width:30px;
                border-radius: 10px;
                border: 1px solid white;
                margin:10px auto;
            }

            .app-description {
                padding:0 70px;
                font:13px "Open Sans";
                margin:0;
            }
        }
    }

    .portfolio-item:hover .app-content{
        opacity: 1; 
        transition: .25s; 
    }

    #true-that{
        background-color:$red; 
        background-image:url(https://i.imgur.com/Aa4LAZQ.png);
    }

    #friend-finder {
        background-color:$orange; 
        background-image:url(https://i.imgur.com/AmgeEmn.png);
    }

    #spicy-burnz {
        background-color:$purple; 
        background-image:url(https://i.imgur.com/S67uLkx.png);
    }

    #library {
        background-color:$scarlet; 
        background-image:url(https://i.imgur.com/EgseDF7.png);
    }

    #node-liri {
        background-color:$onyx; 
        background-image:url(https://i.imgur.com/3S0FpeE.png);
    }

    #trivia {
        background-color:$salmon; 
        background-image:url(https://i.imgur.com/DjLEXxW.png);
    }

    #shindig {
        background-color:$wine; 
        background-image:url(https://i.imgur.com/RNIDz5M.png);
    }

    #misc {
        background-color:$deepred; 
        background-image:url(https://i.imgur.com/i32GWlj.png);
    }

    #true-that:hover .app-content{background-color:rgba(218, 56, 73,.95);}
    #friend-finder:hover .app-content{ background-color:rgba(244, 143, 114, .95);}
    #spicy-burnz:hover .app-content{ background-color:rgba(113, 62, 90, .95);}
    #library:hover .app-content{ background-color:rgba(106, 4, 29, .95);}
    #node-liri:hover .app-content{ background-color:rgba(58, 48, 66, .95);}
    #trivia:hover .app-content{ background-color:rgba(242, 106, 109, .95);}           
    #shindig:hover .app-content{ background-color: rgba(107, 39, 55, .95);}
    #misc:hover .app-content{ background-color:rgba(85, 12, 24, .95);}
}