#about-me-page {
  background-image: linear-gradient(90deg, #f48f72 50%, #713E5A 50%); }

.about-container {
  display: flex;
  align-items: center;
  height: 100vh; }
  .about-container h2 {
    margin: 0; }
  .about-container .nav-item, .about-container #home-btn {
    color: white; }
  .about-container #home-btn:hover {
    border-top: 2px solid transparent;
    border-bottom: 2px solid white; }
  .about-container #about-btn {
    color: #3A3042; }
  .about-container #about-btn:hover {
    border-bottom: 2px solid #3A3042; }
  .about-container .nav-item:hover {
    border-top: 2px solid transparent; }
  .about-container .left-side {
    width: 50vw;
    font-size: 40px;
    color: white; }
  .about-container .about-text {
    width: 50vw;
    font: 14px "Open Sans";
    color: white;
    text-align: left;
    padding: 0 100px;
    background-color: #713E5A; }
