//Fonts ==================================================================
@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

//Colors
$wine:#6B2737;
$onyx:#3A3042;
$salmon:#f26a6d;
$deepred:#550C18;
$orange:#f48f72;
$beige:#E0C1B3;
$charcoal:#403F4C;
$red:#da3849;
$teal:#264653;
$purple:#713E5A;
$grey:#7A7D7D;
$scarlet:#6A041D;

/* Global Styling =========================================================================== */
* { 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    margin:0 auto;
    font-family:"Montserrat", sans-serif;
    text-align: center;
    background-color: $red;
}

a {
    text-decoration: none;
}

.page {
    min-height:100vh;
    height: 100%;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#landing-page {
    background:radial-gradient(#f3787b, $salmon);
    padding: 20px 0;
}

.center-name {  
    h1 {
        font-size: 12vmin;
        text-transform: lowercase;
        margin:0 auto;
        color:white;

    }
    p {
        color:$deepred;
    }
}

//Navbar  ==========================================================
@import "../components/Nav/nav.scss";

//Logo  ==========================================================
@import "../components/Logo/logo.scss";

//Footer  ==========================================================
@import "../components/Footer/footer.scss";

//Portfolio Items  ==========================================================
@import "../components/PortfolioItems/portfolioItems.scss";

//About Me  ==========================================================
@import "../components/About/about.scss";

//Modal ==========================================================
@import "../components/Modal/modal.scss";

//Screen Responsive
@media only screen and (max-width: 900px) {
    
    body{
        background-color: $orange;
    }

    .port-container {
        background-size: 40%;
    }

    #about-me-page {
        background-image: none;
        background: radial-gradient(#3b5864,$teal);
    }

    .about-container {
        flex-direction: column;
        
        .left-side {
            width:100vw;
            
            h2 {
                margin: 50px 20px 20px 20px;
                overflow: hidden;
                font-size: 35px;
            }

            h2:before, h2:after {
                background-color:white;
                content: "";
                display: inline-block;
                height: 1px;
                position: relative;
                vertical-align: middle;
                width: 5%;
              }
               
            h2:before {
                right: 0.5em;
                margin-left: -50%;
            }
              
            h2:after {
                left: 0.5em;
                margin-right: -50%;
            }

            .navbar {
                display: none;
            }
        }

        #about-btn {
            color:$orange;   
        }

        .about-text {
            width:100vw;
            text-align: center;
            background: none;
            display:flex;
            flex-direction: column;
            justify-content: space-between !important;
            height: 100%;

            .mobile-nav{
                display: flex;
                padding:30px;

                .nav-item{
                    letter-spacing: .8px;
                    font-weight: bold;
                    margin:-8px 0px;
                    padding:8px 15px;
                }

                .nav-item:hover {
                    border-bottom:2px solid white;
                    border-top:2px solid white;
                }
                // #about-btn{
                //     display: none;
                // }
                #about-btn:hover {
                    border-bottom:2px solid $orange;
                    border-top:2px solid $orange;     
                }
                #home-btn:hover{
                    border-top:2px solid white;
                }
            }
        }
    }
};

@media only screen and (max-width: 600px) {
    #landing-page {
        padding-bottom: 100px;
    }
    .modal-style {
        .modal-title {
            font-size:20px;
        }
        #phone-num{
            font-size:12px;
        }
    }
    
    #landing-page #home-btn {
        display: none;
    }

    .logo {
        position: static;
        padding-top:8px;
    }
    .port-container{
        .portfolio-item{
            .app-content{
                opacity: 1;
                hr {
                    margin:12px auto;
                }
                .app-description{
                    font-size:15px;
                }
            }
        }
    }

    #true-that .app-content{background-color:rgba(218, 56, 73,.95);}
    #friend-finder .app-content{ background-color:rgba(244, 143, 114, .95);}
    #spicy-burnz .app-content{ background-color:rgba(113, 62, 90, .95);}
    #library .app-content{ background-color:rgba(106, 4, 29, .95);}
    #node-liri .app-content{ background-color:rgba(58, 48, 66, .95);}
    #trivia .app-content{ background-color:rgba(242, 106, 109, .95);}           
    #shindig .app-content{ background-color: rgba(107, 39, 55, .95);}
    #misc .app-content{ background-color:rgba(85, 12, 24, .95);}
    
    .about-container{
        .about-text {
            padding:5px 30px;
        }
    }
};