//Colors
$wine:#6B2737;
$onyx:#3A3042;
$salmon:#f26a6d;
$deepred:#550C18;
$orange:#f48f72;
$beige:#E0C1B3;
$charcoal:#403F4C;
$red:#da3849;
$teal:#264653;
$purple:#713E5A;
$grey:#7A7D7D;
$scarlet:#6A041D;

.footer i{
    color:$teal;
    padding:0 10px;
    font-size:18px;
}

.footer i:hover{
    color:white;
    padding:0 10px;
    transform: scale(1.3);
    transition: .15s;
}