//Colors
$wine:#6B2737;
$onyx:#3A3042;
$salmon:#f26a6d;
$deepred:#550C18;
$orange:#f48f72;
$beige:#E0C1B3;
$charcoal:#403F4C;
$red:#da3849;
$teal:#264653;
$purple:#713E5A;
$grey:#7A7D7D;
$scarlet:#6A041D;

.navbar, .main-nav{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 13px;
    padding:10px 10px 0 10px;

    .nav-item {
        padding:8px 2px;
        margin:-8px 15px;
        text-transform: uppercase;
        cursor: pointer;
        color:$deepred;
        letter-spacing: .8px;
        border-bottom:2px solid transparent;
        border-top:2px solid transparent;
    }

    .nav-item:hover {
        border-bottom:2px solid white;
        border-top:2px solid white;
        color:white;
        transition:.25s;
    }

    #home-btn {
        color:$teal;
    }

    #home-btn:hover {
        border-top:2px solid $teal;
        border-bottom:2px solid $teal;
    }
}

.mobile-nav{
    display: none;
}